body{
    background-color:rgb(163, 163, 160) ;
    font-family: "Bebas Neue", sans-serif;
    font-size: 20px;
    font-weight: 300px;
}

.Pilates, #what, #members, #workouts{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 500px, bold;
    font-style:italic;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
    color:rgb(24, 11, 70);
    background-color:  rgb(235, 215, 129);
    box-shadow: 0 0 20px 10px rgba(235, 215, 129);
}
.Pilates{
    font-size: 100px;
    z-index: 2;
    width: 100%;    
    position: absolute;
    top:600px;
    letter-spacing: 40px;
    left: 0%;
    text-align: center;
    text-decoration:solid;
}

#what, #members, #workouts{
    background-color:  rgb(235, 215, 129);
    position:relative;
    margin-top:50px;
    font-size: 80px;
    width:100%;
}
#image{
    position:relative;
    width: 100%;
    height: auto;
    top:0%;
    z-index: 1;  
}
#image2{
    float:right;
    width:450px;
    height: 385px;
    margin-right: 50px;
    box-shadow: 0 0 20px 10px rgba(101, 100, 100, 0.5);
}
#p1{
    font-size: 30px;
    text-align: left;
    position: relative;
    width: 50%;
    height: 300px;
    padding: 40px;
    box-shadow: 0 0 20px 5px rgb(0, 0, 0);
    color:  rgb(230, 221, 181);   
}